.card{

    &__container{
        transition: box-shadow .25s linear;
        display: block;    
    }
    &__container:hover{
        box-shadow: 0 7px 16px 0 rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.1);
    }
  
    &__title{
      font-weight: 200;
    }
    &__price{
        font-weight: 500;
        font-size: 20px;
    }
}